* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.right-nav, .nav-logo {
	display: inline;
}

.right-nav .nav{
	display: inline;
	margin: 0.5rem;

}

.nav-logo {
float: left;
margin-left: 75px;
}

.right-nav {
float: right;
margin-right: 75px;
}

nav {
	height: 80px;
	margin-top: 8px;
	margin-left: 8%;
	margin-right: 8%;
	width: 80%;
	position: sticky;
	top: 0px;
	background-color: white;
	z-index: 3;
	border-bottom: 1px solid gray;
}

.tuitt-button {
	background-color: #c2195b;
	height: 40px;
	width: 100px;
	border-radius: 40px;
	border: none;
	color: white;
	cursor: pointer;
}

.tuitt-button:hover {
	background-color: #ad104d;
	
}

#bg-image {
	
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	/*background-color: black;*/
	width: 80%;
	height: 300px;
	background-size: 100% 100%;


	position: relative;
	margin-left: 8%;
	margin-right: 8%;
	/*z-index: 1;*/
/*z-index: 1;*/
}

.front-bg {
	top: 1px;
	position: relative;
	display: block;
	background-color: black;
	/*z-index: 2;*/
	opacity: 0.5;
	width: 100%;
	height: 300px;
	z-index: 1;
	
}

.divider {
	top: 400px;
	position: relative;
	display: block;
	background-color: red;
	/*z-index: 2;*/
	/*opacity: 0.5;*/
	width: 100%;
	height: 300px;
	z-index: 2;
}
.container {
	/*opacity: 1;*/
	top: 1px;
	z-index: 2;
	position: absolute;
	left: 45%;
	color: white;
	float: right;
	display: inline-block;
	width: 430px;
	height: 300px;
	
	/*background-color: black;*/
}

.container .title, .container .subtitle, .container .apply-button {
	
	display: block;
}

.title {
	float: right;
	width: 400px;
	height: 20px;
	/*border: 1px solid black;*/
	text-align: right;
}

.subtitle {
	margin-top: 50px;
	font-weight: normal;
	float: right;
	width: 300px;
	height: 20px;
	/*border: 1px solid black;*/
	font-size: 14px;
	letter-spacing: 1.5px;
	text-align: right;
	/*margin-left: 10%;*/
}

.apply-button {
	margin-top: 100px;
	
	width: 600px;
	height: 20px;
	/*border: 1px solid black;*/
	margin-left: 40%;
	text-align: center;
	float: right;
	cursor: pointer;
}

.apply-button:hover {
	background-color: #ad104d;
}

.container .title, .title-2 {
	font-family: Zilla Slab;
}

.intro, .pre-footer, footer {
	margin-left: 8%;
	margin-right: 8%;
}

.intro, .pre-footer {
	height: 45vh;
}

.apply-button {
	top: 10px;
	background-color: #c2195b;
	position: relative;
	height: 40px;
	width: 150px;
	border-radius: 40px;
	border: none;
	color: white;

}

.intro {
	margin-top: 50px;
	/*text-align: center;*/
	display: block;
}

.title-2 {
	margin-bottom: 50px;
	text-align: center;
}

.intro-description {
	/*margin-top: 50px;*/
	width: 80%;
	/*border: 1px solid gray;*/
	margin: auto;
}

.prefooter-description {
	width: 83%;
	margin: auto;
	text-align: center;
}

.book-button {
	left: 43%;
	position: relative;
	margin-top: 15px;
	background-color: #336589;
	height: 40px;
	width: 15%;
	border-radius: 40px;
	border: none;
	color: white;
	cursor: pointer;
}

.book-button:hover {
	background-color: #155482;
}

.pre-footer {
	background-color: #f7fbfb;
	/*border: 1px solid gray;*/
}

footer {
	padding: 0.7rem;
	text-align: center;
	height: 10vh;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}